/* Disable padding & margin */
* {
  padding: 0; margin: 0;
}

body {
  /* To disable scroll */
  overflow: hidden;
}

/* Background image */
.container {
  /* For middle box */
  padding-top: 10%;
  /* ^^^ */

  position: absolute;
  width: 1920px;
  height: 1080px;
  background: url('./components/Images/edited-bg.png');
  border-radius: 0px;
}



